/* App.css */
#app {
  background-color: var(--color-primary-light);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  max-width: 1280px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

main {
  flex: 1;
}
