/* Home.css */
.home-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  margin-top: -5rem;
  padding: 0 1rem;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
}

.home-title-container {
  display: inline-block;
  margin-top: 10vh;
  margin-bottom: 1rem;
}

.home-title {
  color: var(--color-primary-dark);
  font-weight: bold;
  font-size: 1.875rem;
  letter-spacing: 0.010em;
  margin: 0;
}

@media (min-width: 640px) {
  .home-title {
    font-size: 2.25rem;
  }
}

@media (min-width: 768px) {
  .home-title {
    font-size: 5.2rem;
  }
}

.home-title-highlight {
  color: var(--color-emphasis);
  font-weight: bolder;
  letter-spacing: 0.001em;
}

.home-title-highlight-start {
    font-family: serif;
    color: var(--color-gray-darker);
    font-style: italic;;
    font-weight: light;
}

.home-text-highlight {
  color: var(--color-emphasis);
  font-style: italic; 
  font-family: serif;
}

.home-description-container {
  max-width: 42rem;
  margin-top: 1.5rem;
}

.home-description {
  color: var(--color-gray-medium);
  letter-spacing: 0.025em;
  font-weight: 300;
  margin-bottom: 2rem;
  line-height: 1.6;
  font-family: sans-serif;
  font-weight: bold;
}

.home-cta-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--color-emphasis);
  color: white;
  background-color: var(--color-emphasis);
  font-weight: 600;
  border-radius: 1.5rem;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  font-family: monospace;
}

.home-cta-button:hover {
  background-color: black;
  border: black;
  color: white;
}

.home-cta-button:active {
  transform: scale(0.98);
}

/* Responsive Design */
@media (max-width: 768px) {
  .home-section {
    margin-top: -3rem;
    padding: 0 1rem;
  }

  .home-title {
    font-size: 2rem;
  }

  .home-description {
    font-size: 0.875rem;
  }
}

@media (max-width: 640px) {
  .home-section {
    margin-top: -2rem;
    min-height: 80vh;
  }

  .home-title {
    font-size: 1.5rem;
  }

  .home-description {
    font-size: 0.8125rem;
  }

  .home-cta-button {
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
  }
}

/* Bounce Animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(-10px);
  }
}

.bounce {
  animation: bounce 1.5s infinite;
  transform-origin: center;
  width: 2rem;
  height: 2rem;
  color: var(--color-emphasis);
  margin-top: 3rem;
}
