/* src/components/Navbar.css */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.nav-title {
  display: block;
}

@media (max-width: 768px) {
  .nav-title {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar-left {
    display: none; 
  }
}

